body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #c55757;
  }
  
  h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
  }
  
  input[type="submit"] {
    padding: 10px;
    font-size: 1em;
    background-color: #c55757;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #poem {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #c55757;
    color: #fff;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  